* {
  margin: 0px;
}

a {
  color: #000;
  text-decoration: none;
}

.coin-app {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.title {
  margin-left: 20px;
}

/* Content */

.homepage,
.coin-container,
.coinpage {
  margin-top: 90px;
  min-height: calc(100vh - 90px);
}